{% extends './base.html'%}
{% block header %}
    <div class="py-4 text-start mt-3">
        <h3>Applied Jobs</h3>
        <h6></h6>
    </div>
{% endblock%}
{% block profile %}
<div class="text-muted mb-3">
  <h5><i class="bi bi-send fs-5"></i> Applied Jobs</h5>
  <hr>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      <i class="bi bi-check2-circle"></i> {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}
<div class="card border-0 border-bottom my-3">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Position</th>
                <th>Location</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
    
            </tr>
        </thead>
        <tbody>
            {% for application in candidate.applied_jobs %}
            <tr>
                <td>
                    <a href="{{url_for('jobdetail', postid=application.job_id)}}" class="text-decoration-none ms-2">
                        <strong class="h6 text-primary">{{ candidate.job_post(application.job_id).job_title}}</strong>
                    </a>
                </td>
                <td>
                    <p class="text-muted">
                        <i class="bi bi-geo-alt-fill small-text"></i>{{ candidate.job_post(application.job_id).full_address }}
                    </p>
                </td>
                <td>
                    <p class="text-muted">
                        <span>{{application.created_at.date()}}</span>
                    </p>
                </td>
                <td>
                    <p class="text-muted ">
                        {% if application.status == 0%}
                        <span class="text-warning">Pending...</span>
                        {% elif application.status == 1%}
                        <span class="text-success">Accepted</span>
        
                        {% elif application.status >= 2%}
                        <span class="text-danger">Rejected</span>
        
                        {% endif%}
                    </p>
                </td>
                <td>
                    <span class="pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <span data-toggle="tooltip" data-bs-placement="right" title="Delete">
                            <i class="bi bi-archive-fill text-danger"></i>
                        </span>
                        
                    </span>
                </td>
            </tr>
            <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        <i class="bi bi-trash3 fs-5"></i> Reject Application?
                      </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span class="text-danger fs-6"><i class="bi bi-exclamation-triangle-fill">
    
                        </i> Are you sure you want to Reject?</span>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                      <a href="{{url_for('deleteApplidJobs', jobid=application.job_id)}}" class="btn btn-danger">Yes</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
    
        </tbody>
    </table>
</div>

{% endblock%}