{% extends './base.html'%}
{% block header %}
    <div class="py-4 text-start">
        <form method="POST" action="{{url_for('searchCandidate')}}" novalidate>
            {{ form.hidden_tag() }}
              <div class="d-flex justify-content-center mt-3">
                  <div class="col-10 align-items-center searchinput">
                    {% if form.search.errors %}
                    {{ form.search(class="form-control is-invalid", placeholder="Search candidate")}}
                    <div class="invalid-feedback">
                      {% for error in form.search.errors %}
                          {{ error }}
                      {% endfor %}
                    </div>
                    {% else %}
                     {{ form.search(class="form-control", placeholder="Search candidate") }}
                    {% endif %}
                  </div>
      
                  <div class="col-1">
                      <button type="submit" class="btn btn-secondary searchbutton">
                          SEARCH
                      </button>
                  </div>
              </div>
          </form>
    </div>
{% endblock%}
{% block content %}
<div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
  {% if category == 'warning' %}
  <div class="alert alert-{{ category }}">
    <h6><i class="bi bi-emoji-frown"></i> {{ message }}</h6>
    
  </div>
  {%else%}
    <div class="alert alert-{{ category }}">
      <i class="bi bi-check2-circle"></i> {{ message }}
    </div>
  {%endif%}
  {% endfor %}
{% endif %}
{% endwith %}
    {% for profile in candidate.profile.items %}
    {% if profile.role == 'candidate'%}
        <div class="card text-center col-3">
            <div class="my-2">
                <img class="rounded-circle" src="{{url_for('static', filename='profile_pics/'+profile.image_file)}}" alt="" style="width: 150px; height: 150px;"">
            </div>
            <div class="card-body">
            <h4 class="card-title"><a href="{{url_for('candidateDetail', userid=profile.id)}}" class="text-decoration-none text-dark">{{ profile.first_name}} {{ profile.last_name}}</a></h4>
            <p class="card-text fs-5 ">
                {% if candidate.link(profile.id).twitter%}
                <a href="{{candidate.link(profile.id).twitter}}" target="_blank" class="text-secondary"><i class="bi bi-twitter"></i></a>
                <a href="{{candidate.link(profile.id).linkedin}}" target="_blank" class="text-secondary"><i class="bi bi-linkedin"></i></a>
                <a href="{{candidate.link(profile.id).facebook}}" target="_blank" class="text-secondary"><i class="bi bi-facebook"></i></a>
                {%endif%}
            </p>
            </div>
            <div class="card-footer text-muted bg-white">
                <small>Email: {{ profile.email}}</small>
            </div>
        </div>
    {%endif%}
    {% endfor %}

    {% if candidate.profile.page %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end py-3">
        <li class="page-item {% if candidate.profile.page == 1 %}disabled{% endif %}">
          <a href="{{ url_for('candidateList', page=candidate.profile.prev_num) }}" class="page-link">&laquo;</a>
        </li>
        
        {% for page_num in candidate.profile.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if candidate.profile.page == page_num %}
              <li class="page-item"><a class="page-link active" href="{{ url_for('candidateList', page=page_num) }}">{{ page_num }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for('candidateList', page=page_num) }}">{{ page_num }}</a></li>
            {% endif %}
          {% else %}
            ...
          {% endif %}
          {% endfor %}
        
        <li class="page-item {% if candidate.profile.page == candidate.profile.pages %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for('candidateList', page=candidate.profile.next_num) }}">&raquo;</a>
        </li>
      </ul>
    </nav>
    {% endif %}

</div>

{% endblock %}