{% extends './base.html'%}

{% block content %}
  <div class="row justify-content-center mt-3">
    <div class="col-7">
      <div class="card p-3">
        <h4><i class="bi bi-person-circle"></i> Sign Up</h4>
        <small>CANDIDATE</small>
        <hr>
        <form class="row g-3 signup" method="POST" action="{{ url_for('candidate')}}" novalidate>
          {{ candidateForm.hidden_tag() }}
          <div class="col-md-6">
            {{ candidateForm.first_name.label(class="form-label") }}
            {% if candidateForm.first_name.errors %}
              {{ candidateForm.first_name(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in candidateForm.first_name.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% else %}
                {{ candidateForm.first_name(class="form-control") }}
            {% endif %}
          </div>
          <div class="col-md-6">
            {{ candidateForm.last_name.label(class="form-label") }}
            {% if candidateForm.last_name.errors %}
              {{ candidateForm.last_name(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in candidateForm.last_name.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% else %}
                {{ candidateForm.last_name(class="form-control") }}
            {% endif %}
          </div>
          <div class="col-md-6">
            {{ candidateForm.email.label(class="form-label") }}
            {% if candidateForm.email.errors %}
              {{ candidateForm.email(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in candidateForm.email.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% else %}
                {{ candidateForm.email(class="form-control") }}
            {% endif %}
          </div>
          <div class="col-md-6">
            {{ candidateForm.phone_number.label(class="form-label") }}
            {% if candidateForm.phone_number.errors %}
              {{ candidateForm.phone_number(class="form-control is-invalid") }}
              <div class="invalid-feedback invalid_phone">
                {% for error in candidateForm.phone_number.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% else %}
                {{ candidateForm.phone_number(class="form-control") }}
            {% endif %}
          </div>

          <div class="col-md-12">
            {{ candidateForm.password.label(class="form-label") }}
            {% if candidateForm.password.errors %}
              {{ candidateForm.password(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in candidateForm.password.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% else %}
                {{ candidateForm.password(class="form-control") }}
            {% endif %}
          </div>
          <div class="col-md-12">
            {{ candidateForm.confirm_password.label(class="form-label") }}
            {% if candidateForm.confirm_password.errors %}
              {{ candidateForm.confirm_password(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in candidateForm.confirm_password.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% else %}
                {{ candidateForm.confirm_password(class="form-control") }}
            {% endif %}
            </div>

          <div class="col-12">
            {{ candidateForm.submit(class="btn btn-outline-info phone") }}
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
