html{
    height: 100%;
    box-sizing: border-box;
}
body::before{
    display: block;
    content: '';
    height: 58px;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 390;
    background-color: #fcfcfc;
    position: relative;
    margin: 0;
    min-height: 80%;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
}

.header-background{
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 95%);
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
}
header nav{
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
}

.brandrole{
    margin-top: -23px; 
    font-size: x-small;
    margin-left: 3px;
    color: rgb(0, 0, 0);
    opacity: 77%;
}

.joblistcard, .rightcard{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.accountcard{
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
}

.joblistcard:hover{
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
}

.companylistcard:hover{
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
}

.searchinput input[type=text] {
    border-radius: 0 !important;
    padding:10px;
}
.searchbutton{
    border-radius: 0;
    padding:10px;
}

.form-control:focus, .form-select{
    box-shadow: none;
}
.form-select{
    box-shadow: none !important;
}
.posttitle{
    text-decoration: none;
}
.account a{
    text-decoration: none;
    color: black;
    font-size: large;
}

.account a:hover{
    opacity: 59%;
}

.addskill{
    cursor:pointer;
    border-radius: 6px;
}
.addskill:hover{
    background-color: rgb(52, 223, 94) !important;
}
.skillinput::placeholder{
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.userskill{
    cursor: pointer;
    position: relative;
    top: -32 !important;
}
.skillremove {
    color: red;
    cursor: pointer;
    position: relative;
    top: -24;
    left: 470;
}
.skill{
    float: left;
    padding: 10px 14px 10px 14px;
    background-color: #eaeaea;
    border-radius: 20px;
    
    line-height: 1;
    margin: 10px 14px 0px 0px;
}
.skill:hover{
    background-color: darkblue;
    color: wheat;
    transition: all 0.4s ease-in-out;
}
.companyd-detail-logo{
    position: relative;
    bottom: 50;
    border: 3px solid #fff;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.65em;
    font-weight: 700;
    color:#b1a9a9;
    display: inline-block;
    padding: 5px;
    border-radius: 25%;
}

.table-title{
    font-size: x-small;
    font-weight: bold;
}
.small-text{
    font-size:x-small;
}
.profile-menu{
    box-shadow: 0px 0px 30px rgba(2, 2, 2, 0.1);
}
.pointer{
    cursor: pointer;
}
footer{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    clip-path: polygon(29% 25%, 100% 14%, 100% 100%, 0 100%, 0 14%);
    color: #fff;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}
.about {
    margin: 0;
    text-indent: 2rem;
    text-align: justify;
  }

