{% extends './base.html'%}
{% block header %}
<div class="row">
    <div class="py-4 text-start col-9 my-3">
        <h5>{{ employer.profile.company_name }}</h5>
    </div>
    <div class="py-4 col-3 mt-3">
    {% if current_user.role == 'candidate' %}
        {% if employer.followers %}
            {% for follower in employer.followers %}
                {% if follower.user_id == current_user.id %}
                    <a href="{{url_for('employerUnfollow', userid=follower.employer_id)}}" class="btn btn-outline-light btn-sm"><i class="bi bi-people"></i> Unfollow</a>
                {%else%}
                    <a href="{{url_for('employerFollower', userid=follower.employer_id)}}" class="btn btn-outline-light btn-sm"><i class="bi bi-people"></i> Follow</a>
                {%endif%}
            {% endfor %}
        {%else%}
        <a href="{{url_for('employerFollower', userid=employer.profile.id)}}" class="btn btn-outline-light btn-sm"><i class="bi bi-people"></i> Follow</a>
        {%endif%}
    {%endif%}
        
    </div>
</div>

{% endblock%}
{% block content %}
<img src="{{url_for('static', filename='profile_pics/'+employer.profile.image_file)}}" class="card-img-top rounded-circle companyd-detail-logo" alt="..."  style="width: 100px; height: 100px;""> 
<div class="row">
    <div class="col-9">
        <div class="card border-info mb-3 p-3">
            <div class="d-flex justify-content-evenly p-3 ">
                <div class="co-3"><i class="bi bi-sticky text-warning fs-4"></i>
                    {{employer.total_post}} Job Posted
                </div>
                <div class="co-3"><i class="bi bi-people text-warning fs-4"></i>
                    {% if employer.total_follower >1 %}
                        {{employer.total_follower}} Followers
                    {%else%}
                        {{employer.total_follower}} Follower
                    {%endif%}
                </div>
                <div class="co-3"><i class="bi bi-binoculars fs-4 text-warning"></i></i> {{employer.total_view}} views</div>
                <div class="co-3"><i class="bi bi-calendar2-check fs-4 text-warning"></i>
                    {% if employer.active_jobs >1 %}
                        {{employer.active_jobs}} Active Jobs
                    {%else%}
                        {{employer.active_jobs}} Active Job
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="card my-3 p-3">
            <div class="text-muted">
                <h5>About The Company</h5>
                <hr>
            </div>
            <div>
                <p>
                    {{employer.detail.about|safe}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card p-3">
            <div class="text-muted">
                <h5>Contact info</h5>
                <hr>
            </div>
            <div class="text-muted">
                <p>
                    <i class="bi bi-geo-alt text-info"></i>
                    <small>
                     {{employer.address.city}}
                     {{employer.address.country}}, 
                     {{employer.address.state}}
                     {{employer.address.zip_code}}
                    </small>
                </p>
                <p>
                    <i class="bi bi-telephone text-info"></i>
                    <small>
                        {{employer.profile.phone_number}}
                    </small>
                </p>
                <p>
                    <i class="bi bi-envelope text-info"></i>
                    <small>
                        {{employer.profile.email}}
                    </small>
                </p>
                <p>
                    <i class="bi bi-globe"></i>
                    <small>
                        <a href="{{employer.social.website}}" target="_blank">{{employer.social.website}}</a>
                        
                    </small>
                </p>

            </div>
            {% if employer.social.google %}
            <div class="border-top pt-2 fs-3">
                <a href="{{employer.social.google}}" target="_blank"><i class="bi bi-google"></i></a>
                <a href="{{employer.social.facebook}}" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="{{employer.social.twitter}}" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="{{employer.social.linkedin}}" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
            {% endif %}
        </div>
    </div>

</div>



{% endblock %}