{% extends './base.html'%}
{% block header %}
    <div class="py-4 text-start mt-3">
        <h3>Profile Detail</h3>
        <h6>{{ current_user.first_name|capitalize}} 
          {{ current_user.last_name|capitalize}}
        </h6>
    </div>
{% endblock%}
{% block profile %}
<div class="text-muted mb-3">
  <h5> <i class="bi bi-file-earmark-richtext fs-5"></i>  Profile Detail</h5>
  <hr>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}
<div class="card border-0 p-3">
    <form class="row g-3" method="POST" action="{{ url_for('employerInfo', empid=current_user.id) }}" novalidate>
        {{ form.hidden_tag() }}
        <div class="col-md-12">
            {{ form.about.label(class="form-label")}}
            {% if form.about.errors %}
            {{ form.about(class="form-select is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.about.errors %}
                  {{error}}
              {% endfor %}
            </div>
            {% else %}
             {{ form.about(class="form-select")}}
            {% endif %}
          </div>

        <div class="col-4">
          {{ form.submit(class="btn btn-outline-info")}}
        </div>
        {{ ckeditor.load(pkg_type="basic") }}
        {{ ckeditor.config(name='about') }}
      </form>
</div>
{% endblock %}