{% extends './base.html'%}
{% block header %}
<div class="py-4 text-start py-3">
    <h4>About Us</h4>
    <small>TRABAJO JOBS</small>
</div>
{% endblock %}
{% block content%}
<div class="row mt-5">
    <div class="col-6">
      <h2>ABOUT OUR COMPANY</h2>
      <hr>
      <p class="opacity-75 text-justify about">
        Trabajo is a Job listing site for specific software industry positions. Candidates can search by job title and location, salary,
         date posted, and experience level.
      </p>
  </div>
    <div class="col-6 text-center">
        <p class="display-1 opacity-50">TRABAJO</p>
    </div>

</div>
{% endblock %}
