<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Trabajo | {{ title }}</title>
    {% else %}
        <title>Trabajo</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./favicon.ico') }}"  sizes="32x32">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css" integrity="sha512-YzwGgFdO1NQw1CZkPoGyRkEnUTxPSbGWXvGiXrWk8IeSqdyci0dEDYdLLjMxq1zCoU0QBa4kHAFiRhUL3z2bow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top border-bottom">
            <div class="container">
                {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="{{ url_for('home')}}">
                    <p>TRABAJO</p> 
                    <p class="brandrole">
                        <span>{{ current_user.role|upper}}</span>
                    </p>
                </a>
                {% else %}
                <a class="navbar-brand" href="{{ url_for('home')}}">
                    TRABAJO
                </a>
                {% endif %}
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup" {% if current_user.is_authenticated %} style="margin-top: -26px;"" {%endif%}">
                    <div class="navbar-nav">
                        <a class="nav-link" href="{{url_for('employerList')}}">Company</a>
                        <a class="nav-link" href="{{url_for('candidateList')}}">Candidates</a>
                        {% if current_user.is_authenticated and current_user.role == 'employer' %}
                        <a class="nav-link btn btn-outline-warning" href="{{ url_for('jobpost') }}"><i class="bi bi-upload"></i> Post a Job</a>
                        {% endif %}
                    </div>

                    <div class="navbar-nav ms-auto">
                        {% if current_user.is_authenticated and current_user.role == 'employer' %}
                          
                          <div class="btn-group">
                            <span  class="" data-bs-toggle="dropdown" aria-expanded="false">
                              <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <img src="{{url_for('static', filename='profile_pics/'+current_user.image_file)}}" width="40" height="40" class="rounded-circle profile-menu">
                              </a>
                            </span>
                            <ul class="dropdown-menu border-0 profile-menu">
                              <li><a class="dropdown-item" href="{{ url_for('employerProfile', userid=current_user.id) }}">
                                <i class="bi bi-person"></i> Profile</a></li>
                            <li>
                                <a href="{{url_for('manageJobs')}}" class="dropdown-item"">
                                    <i class="bi bi-briefcase"></i> Manage Jobs</a>
                            </li>
                              <li><a class="dropdown-item" href="{{ url_for('jobpost') }}"><i class="bi bi-upload"></i> Post a Job</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="{{ url_for('logout') }}">
                                <i class="bi bi-box-arrow-in-left"></i> Logout</a>
                              </li>
                            </ul>
                          </div>
                        {% endif %}
                        {% if current_user.is_authenticated and current_user.role == 'candidate' %}
                        
                        <div class="btn-group">
                            <span  class="" data-bs-toggle="dropdown" aria-expanded="false">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <img src="{{url_for('static', filename='profile_pics/'+current_user.image_file)}}" width="40" height="40" class="rounded-circle">
                              </a>
                            </span>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{{ url_for('candidateProfile', userid=current_user.id) }}">
                                <i class="bi bi-person"></i> Profile</a></li>
                            <li><a href="{{ url_for('candidateAppliedJobs', userid=current_user.id )}}" class="dropdown-item">
                                <i class="bi bi-send"></i> Applied Jobs</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="{{ url_for('logout') }}">
                                <i class="bi bi-box-arrow-in-left"></i> Logout</a>
                              </li>
                            </ul>
                          </div>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <a class="nav-link btn btn-outline-info" href="{{ url_for('signin') }}">Sign in / Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <section class="text-center text-white bg-primary header-background">
            <div class="container">
                {% block header %}{% endblock %}
            </div>
        </section>
    </header>

    <section>
        <div class="container" >
    <!-- Candidate profile side menu start        -->
    <div class="row mt-3">
            {% if (current_user.role == 'candidate') and page == 'candidateProfile' %}
            
                <div class="col-3">
                    <div class="card">
                        <div class="d-flex justify-content-center my-3">
                            <div>
                                <img class="rounded-circle" src="{{url_for('static', filename='profile_pics/'+current_user.image_file)}}" alt="" style="width: 130px; height: 130px;">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div>
                                <form id="submitForm">
                                    <input type="file" name="image" id="imageview" class="inputfile">
                                    <label for="imageview">
                                        <span data-toggle="tooltip" data-bs-placement="bottom" title="Update profile image">
                                            <i class="bi bi-image pointer"></i>
                                        </span>
                                        
                                    </label>
                                </form>
                            </div>
            
                           </div>
                        <div class="list-group">
                            <a href="{{url_for('candidateProfile', userid=current_user.id)}}" class="list-group-item list-group-item-action border-0">
                                <i class="bi bi-person-check fs-5 text-info"></i>  My Profile</a>
                            <a href="{{ url_for('candidateProfileDetail', userid=current_user.id) }}" class="list-group-item list-group-item-action border-0">
                                    <i class="bi bi-file-earmark-richtext fs-5 text-info"></i> Profile Detail</a>
                            <a href="{{url_for('userAddress', userid=current_user.id)}}" class="list-group-item list-group-item-action border-0">
                                <i class="bi bi-geo-alt fs-5 text-info"></i>  Address</a>
                            <a href="{{url_for('userSocial', userid=current_user.id)}}" class="list-group-item list-group-item-action border-0">
                                <i class="bi bi-link-45deg fs-5 text-info"></i> Social Links</a>

                            <a href="{{ url_for('resumeUpload', userid=current_user.id )}}" class="list-group-item list-group-item-action  border-0">
                                <i class="bi bi-bookmark-check fs-5 text-info"></i> Resume</a>
                            <a href="{{ url_for('candidateAppliedJobs', userid=current_user.id )}}" class="list-group-item list-group-item-action border-0">
                                <i class="bi bi-send fs-5 text-info"></i> Applied Jobs</a>
                            <a href="{{url_for('changePassword', userid=current_user.id)}}" class="list-group-item list-group-item-action border-0">
                                <i class="bi bi-key fs-5 text-info"></i> Change Password</a>
                            <a href="{{ url_for('logout')}}" class="list-group-item list-group-item-action  border-0">
                                <i class="bi bi-box-arrow-in-left fs-5 text-info"></i> Logout</a>
                        </div>
                    </div>
                </div>

    {% endif %}
   <!-- candidate profile side menu end -->
   <!-- Employer profile side menu -->

   {% if (current_user.role == 'employer') and page == 'employerProfile' %}

       <div class="col-3">
           <div class="card">
               <div class="d-flex justify-content-center my-3">
                   <div>
                       <img class="rounded-circle newimage" src="{{url_for('static', filename='profile_pics/'+current_user.image_file)}}" alt="" style="width: 130px; height: 130px;">
                   </div>

               </div>
               <div class="d-flex justify-content-center">
                <div>
                    <form id="submitForm">
                        <input type="file" name="image" id="imageview" class="inputfile">
                        <label for="imageview">
                            <i class="bi bi-image" title="change profile image "></i>
                        </label>
                    </form>
                </div>

               </div>
               <div class="list-group">
                   <a href="{{ url_for('employerProfile', userid=current_user.id)}}" class="list-group-item list-group-item-action border-0">
                    <i class="bi bi-building fs-5 active text-info"></i> Company Profile </a>
                   <a href="{{ url_for('employerInfo', empid=current_user.id) }}" class="list-group-item list-group-item-action  border-0">
                        <i class="bi bi-file-earmark-richtext fs-5 text-info"></i> Profile Detail</a>
                   <a href="{{url_for('userAddress', userid=current_user.id)}}" class="list-group-item list-group-item-action border-0">
                    <i class="bi bi-geo-alt fs-5 text-info"></i> Address</a>
                   <a href="{{url_for('userSocial', userid=current_user.id)}}" class="list-group-item list-group-item-action border-0">
                    <i class="bi bi-link-45deg fs-5 text-info"></i> Social Links</a>
                   <a href="{{url_for('manageJobs')}}" class="list-group-item list-group-item-action  border-0">
                        <i class="bi bi-briefcase fs-5 text-info"></i> Manage Jobs</a>
                   <a href="{{ url_for('jobpost')}}" class="list-group-item list-group-item-action  border-0">
                    <i class="bi bi-sticky fs-5 text-info"></i> Post a New Job</a>
                   <a href="{{url_for('changePassword', userid=current_user.id)}}" class="list-group-item list-group-item-action  border-0">
                    <i class="bi bi-key fs-5 text-info"></i> Change Password</a>
                   <a href="{{ url_for('logout')}}" class="list-group-item list-group-item-action  border-0">
                       <i class="bi bi-box-arrow-in-left fs-5 text-info"></i> Logout</a>
               </div>
           </div>
       </div>

         {% endif %}
          <div class="col-9">
            {% block profile %} {% endblock %}
          </div>
   </div>
 

   <!-- employer profile side menu end -->
            {% block content %} {% endblock %}
        </div>
        
    </section>

<footer class="bg-dark d-flex justify-content-between p-4">
    <div>
        <small>
            <a class="nav-link" href="{{url_for('contactus')}}">Contact Us</a>
            <a class="nav-link" href="{{url_for('aboutus')}}">About</a>
        </small>
    </div>
    <div>
        <p><small>Copyright &copy; 2022 Trabajo Jobs</small> </p>
    </div>
<div>

</div>
</footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput.min.js"></script>
<script src="{{url_for('static', filename='./js/random_badge.js')}}"></script>
<script src="{{url_for('static', filename='./js/main.js')}}"></script>
</body>

</html>