{% extends './base.html'%}
{% block header %}
    <div class="py-4 text-start mt-3">
        <h3>Change Password</h3>
        <h6></h6>
    </div>
{% endblock%}
{% block profile %}
<div class="text-muted mb-3">
  <h5><i class="bi bi-key fs-5"></i>  Change Password</h5>
  <hr>
</div>
<div class="card border-0 p-3">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}
    <form class="row g-3"  method="POST" action="{{url_for('changePassword', userid=current_user.id)}}" novalidate>
        {{form.hidden_tag()}}
        <div class="col-12">
            {{ form.old_password.label(class="form-label") }}
            {% if form.old_password.errors %}
              {{ form.old_password(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.old_password.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% else %}
              {{ form.old_password(class="form-control") }}
            {% endif %}
          </div>
          <div class="col-12">
            {{ form.password.label(class="form-label") }}
            {% if form.password.errors %}
              {{ form.password(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="form-control") }}
            {% endif %}
          </div>
          <div class="col-12">
            {{ form.confirm_password.label(class="form-label") }}
            {% if form.confirm_password.errors %}
              {{ form.confirm_password(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% else %}
              {{ form.confirm_password(class="form-control") }}
            {% endif %}
          </div>
          <div class="col-6">
            {{ form.submit(class="btn btn-outline-danger")}}
          </div>
    </form>
</div>
{% endblock%}