{% extends './base.html'%}
{% block content %}
  <div class="row justify-content-center m-3">
    <div class="col-6">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card p-3">
        <form class="row g-3 p-3" method="POST" action="" novalidate>
          {{ form.hidden_tag() }}
          <div class="h4 pb-2 mb-2 text-secondary border-bottom border-light">
            <i class="bi bi-box-arrow-in-right"></i> Reset Password
          </div>
            <div class="col-12">
              {{ form.password.label(class="form-label") }}
              {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.password(class="form-control") }}
              {% endif %}
            </div>
            <div class="col-md-12">
                {{ form.confirm_password.label(class="form-label") }}
                {% if form.confirm_password.errors %}
                  {{ form.confirm_password(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% else %}
                    {{ form.confirm_password(class="form-control") }}
                {% endif %}
                </div>

            <div class="col-6">
              {{ form.submit(class="btn btn-outline-info")}}
            </div>
          </form>
      </div>
    </div>
  </div>
{% endblock %}