{% extends './base.html'%}
{% block content %}
  <div class="row justify-content-center m-3">
    <div class="col-6">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card p-3">
        <form class="row g-3 p-3" method="POST" action="{{url_for('signin')}}" novalidate>
          {{ form.hidden_tag() }}
          <div class="h4 pb-2 mb-2 text-secondary border-bottom border-light">
            <i class="bi bi-box-arrow-in-right"></i> Sign in
          </div>
           <small class="text-info"><i class="bi bi-info-circle"></i> If you have an account with us, please sign in.</small>

            <div class="col-12">
              {{ form.email.label(class="form-label") }}
              {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.email(class="form-control") }}
              {% endif %}
            </div>
            <div class="col-12">
              {{ form.password.label(class="form-label") }}
              {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% else %}
                {{ form.password(class="form-control") }}
              {% endif %}
            </div>

            <div class="col-12">
              <div class="form-check">
                {{ form.remember(class="form-check-input")}}
                <label class="form-check-label" for="gridCheck">
                  {{ form.remember.label(class="form-check-label")}}
                </label>
              </div>
            </div>

            <div class="col-6">
              {{ form.submit(class="btn btn-outline-info")}}
            </div>
            <div class="col-12 d-flex">
              <small class="me-3">
                <a  href="{{ url_for('candidate')}}">New around here? Sign up </a>
              </small> |
              <small class="mx-3">
                <a href="{{ url_for('reset_request') }}"> Forgot password?</a>
              </small>
            </div>

          </form>
      </div>
    </div>
  </div>
{% endblock %}